{% extends 'master.html' %}
{% load bootstrap4 %}
{% block brand %} Редагування профілю {% endblock %}
{% block content %}
<div class="container" style="margin-top: 85px;  background-color: #c0d9cdcf">
            <br>
            <form method="post" >{% csrf_token %}
                <table>
                    {% bootstrap_form form %}
                    <tr>
                        <td>
                            <button style="margin-left: 450px; margin-bottom: 15px;"  type="submit" class="btn btn-success">Зберегти зміни</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>


{% endblock content %}